<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            filenames="metadata.json"
            icon="icons/obj16/puppet-16.png"
            id="com.puppetlabs.geppetto.module.dsl.Module"
            name="Module Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="com.puppetlabs.geppetto.module.dsl.Module.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="com.puppetlabs.geppetto.module.dsl.Module.validate">
         <activeWhen>
            <reference
                    definitionId="com.puppetlabs.geppetto.module.dsl.Module.Editor.opened">
            </reference>
         </activeWhen>
      	</handler>
      	<!-- copy qualified name -->
        <handler
            class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
            <activeWhen>
				<reference definitionId="com.puppetlabs.geppetto.module.dsl.Module.Editor.opened" />
            </activeWhen>
        </handler>
        <handler
            class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
            <activeWhen>
            	<and>
            		<reference definitionId="com.puppetlabs.geppetto.module.dsl.Module.XtextEditor.opened" />
	                <iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
            </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="com.puppetlabs.geppetto.module.dsl.Module.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="com.puppetlabs.geppetto.module.dsl.Module" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="com.puppetlabs.geppetto.module.dsl.Module.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="com.puppetlabs.geppetto.module.dsl.Module" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
              category="com.puppetlabs.geppetto.puppet.ui"
              class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
              id="com.puppetlabs.geppetto.module.dsl.Module"
              name="Module">
            <keywordReference id="com.puppetlabs.geppetto.module.dsl.ui.keyword_Module"/>
        </page>
        <page
              category="com.puppetlabs.geppetto.module.dsl.Module"
              class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:com.puppetlabs.geppetto.module.dsl.ui.preferences.ForgePreferencesPage"
              id="com.puppetlabs.geppetto.module.dsl.Module.forge"
              name="Puppet Forge">
            <keywordReference id="com.puppetlabs.geppetto.module.dsl.ui.keyword_Module"/>
        </page>
        <page
              category="com.puppetlabs.geppetto.module.dsl.Module"
              class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:com.puppetlabs.geppetto.module.dsl.ui.preferences.PotentialModuleProblemPreferencesPage"
              id="com.puppetlabs.geppetto.module.dsl.Module.pproblem"
              name="Potential Problems">
            <keywordReference id="com.puppetlabs.geppetto.module.dsl.ui.keyword_Module"/>
        </page>
        <page
            category="com.puppetlabs.geppetto.module.dsl.Module"
            class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="com.puppetlabs.geppetto.module.dsl.Module.coloring"
            name="Syntax Coloring">
            <keywordReference id="com.puppetlabs.geppetto.module.dsl.ui.keyword_Module"/>
        </page>
        <page
            category="com.puppetlabs.geppetto.module.dsl.Module"
            class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="com.puppetlabs.geppetto.module.dsl.Module.templates"
            name="Templates">
            <keywordReference id="com.puppetlabs.geppetto.module.dsl.ui.keyword_Module"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
              category="com.puppetlabs.geppetto.puppet.ui"
              class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
              id="com.puppetlabs.geppetto.module.dsl.Module"
              name="Module">
            <keywordReference id="com.puppetlabs.geppetto.module.dsl.ui.keyword_Module"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
        <page
              category="com.puppetlabs.geppetto.module.dsl.Module"
              class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:com.puppetlabs.geppetto.module.dsl.ui.preferences.ForgePreferencesPage"
              id="com.puppetlabs.geppetto.module.dsl.Module.forge"
              name="Puppet Forge">
            <keywordReference id="com.puppetlabs.geppetto.module.dsl.ui.keyword_Module"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
        <page
              category="com.puppetlabs.geppetto.module.dsl.Module"
              class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:com.puppetlabs.geppetto.module.dsl.ui.preferences.PotentialModuleProblemPreferencesPage"
              id="com.puppetlabs.geppetto.module.dsl.Module.pproblem"
              name="Potential Problems">
            <keywordReference id="com.puppetlabs.geppetto.module.dsl.ui.keyword_Module"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="com.puppetlabs.geppetto.module.dsl.ui.keyword_Module"
            label="Module"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="com.puppetlabs.geppetto.module.dsl.Module.validate"
            name="Validate">
      </command>
      <!-- copy qualified name -->
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="com.puppetlabs.geppetto.module.dsl.Module.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="com.puppetlabs.geppetto.module.dsl.Module.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
         <!-- copy qualified name -->
         <menuContribution locationURI="popup:#TextEditorContext?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
         		style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="com.puppetlabs.geppetto.module.dsl.Module.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="menu:edit?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            	style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="com.puppetlabs.geppetto.module.dsl.Module.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
         		<visibleWhen checkEnabled="false">
	            	<and>
	            		<reference definitionId="com.puppetlabs.geppetto.module.dsl.Module.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="com.puppetlabs.geppetto.module.dsl.Module.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="com.puppetlabs.geppetto.module.dsl.Module.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="json">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="json">
        </resourceServiceProvider>
    </extension>


	<!-- marker definitions for com.puppetlabs.geppetto.module.dsl.Module -->
	<extension
	        id="module.check.fast"
	        name="Puppet Module Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.fast"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="module.check.normal"
	        name="Puppet Module Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.normal"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="module.check.expensive"
	        name="Puppet Module Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.expensive"/>
	    <persistent value="true"/>
	</extension>

   <extension point="org.eclipse.xtext.builder.participant">
      <participant class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"/>
   </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="com.puppetlabs.geppetto.module.dsl.Module.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="com.puppetlabs.geppetto.module.dsl.Module.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for com.puppetlabs.geppetto.module.dsl.Module -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="com.puppetlabs.geppetto.module.dsl.ui.module.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="com.puppetlabs.geppetto.module.dsl.ui.module.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="com.puppetlabs.geppetto.module.dsl.ui.module.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="com.puppetlabs.geppetto.module.dsl.Module.compare.contentViewers"
            class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="json">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="com.puppetlabs.geppetto.module.dsl.Module.compare.contentMergeViewers"
            class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="json" label="Module Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="com.puppetlabs.geppetto.module.dsl.Module.editors.documentProviders"
            class="com.puppetlabs.geppetto.module.dsl.ui.ModuleExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="json">
    </provider>
  </extension>
	    <extension
          id="puppetModuleProblem"
          name="Puppet Module Problem"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.problemmarker">
       </super>
       <persistent
             value="true">
       </persistent>
    </extension>
	<extension point="org.eclipse.ui.ide.markerResolution">
	   <markerResolutionGenerator
	      markerType="com.puppetlabs.geppetto.module.dsl.ui.puppetModuleProblem"
	      class="com.puppetlabs.geppetto.module.dsl.ui.quickfix.ModuleProblemResolutionGenerator"/>
	</extension>
</plugin>
